include ../svg/svg
include ../title/title

-
  const socialList = [
      {
        item: 'Facebook',
        icon: 'icon-fb',
        w: '12',
        h: '21',
        link: 'https://www.facebook.com/Svnimportcom-104017764688816',
        desc: 'Следите за новостями в Facebook',
      },
      {
        item: 'Instagram',
        icon: 'icon-insta',
        w: '21',
        h: '21',
        link: 'https://www.instagram.com/svnimport/',
        desc: 'Следите за новостями в Instagram',
      },
      {
        item: 'Вконтакте',
        icon: 'icon-vk',
        w: '31',
        h: '21',
        link: 'https://vk.com/svnimport',
        desc: 'Следите за новостями во Вконтакте',
      },
      //- {
      //-   item: 'YouTube',
      //-   icon: 'youtube.png',
      //-   w: '39',
      //-   h: '27',
      //-   link: 'https://www.youtube.com/channel/UCH0y-syRlKW_XS19-b5sayA/featured',
      //-   desc: 'Подписывайтесь на наш YouTube-канал',
      //- },
    ]

-
  const footerMenu = [
      {
        link: '',
        desc: 'О компании',
      },
      {
        link: 'services.html',
        desc: 'Услуги',
      },
      {
        link: '',
        desc: 'Отзывы',
      },
      {
        link: '',
        desc: 'Каталог',
      },
      {
        link: '',
        desc: 'Контакты',
      },
    ]

mixin page-footer(mod)
  footer(class='page-footer' + (mod ? ' page-footer--' + mod : ''))&attributes(attributes)#footer-contact-form
    div.page-footer__top
      +title('Есть план? Пиши Нам!', 'white').page-footer__title
      p.page-footer__title-description Бесплатно ответим на все ваши вопросы и воплотим ваш План в Реальность
      div.page-footer__wrapper
        div.page-footer__contacts
          h3.page-footer__contacts-title Контакты
          div.page-footer__contacts-info
            p.page-footer__address Адрес: Минск/Чапаева/3-246
            p
              span Телефон:
              |
              |
              a(href="tel:+375291932333" target="_blank").page-footer__phone +375 (29) 193 23 33
            p
              span Email:
              |
              |
              a(href="mailto:info@svnimport.com" target="_blank").page-footer__mail info@svnimport.com
          div.page-footer__social
            h2.visually-hidden Мы в соцсетях
            ul.page-footer__social-list
              each social in socialList
                li.page-footer__social-item
                  a(href= social.link target="_blank").page-footer__social-link
                    +svg(social.icon)(width= social.w height= social.h).page-footer__icon
                    span.visually-hidden #{social.desc}
        include ../footer-contact-form/footer-contact-form
    div(class='page-footer__middle' + (mod ? ' page-footer__middle--' + mod : ''))
      div.page-footer__logo
        a.page-footer__logo-link(href="index.html")
          img.page-footer__logo-img(src="img/logo/logo_165.png" width="165" height="35" alt="Логотип")
      ul.page-footer__nav
        each menuItem in footerMenu
          li.page-footer__nav-item
            a(href= menuItem.link).page-footer__nav-link #{menuItem.desc}
    div.page-footer__bottom
      div.page-footer__wrapper
        p.page-footer__details ООО "СВН импорт", УНП 193430086
        p.page-footer__copyright © 2021 Company Inc. Все права защищены
