include ../svg/svg

mixin contacts-mail(mail, mod)
  div(class='contacts-mail')&attributes(attributes)
    +svg('label')(class = 'contacts-mail__icon', width='26', height='26')
    a(href = 'mailto:' + mail class= mod ? 'contacts-mail__mail--' + mod : '').contacts-mail__mail #{mail}
