include ../title/title
include ../link/link
include ../slider-navigation/slider-navigation

section.promotions-section
  div.promotions-section__slider-container
    div.promotions-section__promo-list
      div.promotions-section__promo-item.promotions-section__item-content--slide-1
        div.promotions-section__item-content
          +title('ВАШ МЕЖДУНАРОДНЫЙ ПАРТНЕР', 'white').promotions-section__title.promotions-section__title--fs
          p.promotions-section__title-description Мы найдем найдем лучшее решение ваших задач!
          +link('Бесплатная консультация', '#footer-contact-form', 'phone')
      div.promotions-section__promo-item.promotions-section__item-content--slide-2
        div.promotions-section__item-content
          +title('Международные Грузоперевозки', 'white').promotions-section__title.promotions-section__title--fs
          p.promotions-section__title-description Возить с Нами - Быстро, Выгодно, Надежно!
          +link('Оставить заявку', 'contacts.html', 'phone').link--red
      div.promotions-section__promo-item.promotions-section__item-content--slide-3
        div.promotions-section__item-content
          +title('ВАША ИДЕЯ, НАШЕ ИСПОЛНЕНИЕ', 'green').promotions-section__title
          p.promotions-section__title-description Мы станем надежным агентом для Вашего бизнеса. Реализуем Ваши идеи быстро, качественно и надежно.
          +link('Заказать звонок', 'contacts.html', 'phone').link--red

  +slider-navigation(false, 'promotions-section', 'light').promotions-section__slider-navigation
