include ../title/title

-
  const importContents = [
      'Импорт - ввоз в страну иностранного товара. Очень важно знать все требования законодательства вашей страны по импорту.',
      'Наши декларанты – профессионалы в области таможенного оформления. Выбрав нас вы можете быть уверены, что ваш товар успешно пройдет процедуру таможенного оформления с уплатой всех необходимых сборов (пошлина, ндс, и т.д.) и предоставлением вам полного пакета документов (инвойсы, декларации и сертификаты соответствия, таможенные декларации, товарные накладные). Таможенную очистку мы берем на себя.',
      'Преимущества импортировать товар с нами:',
    ]

-
  const importtLists = [
      'мы подготовим и предоставим всю необходимую документацию для таможенного оформления, включая сертификацию продукции',
      'проведем процедуру таможенной очистки товара с уплатой всех пошлин и сборов ',
      'оперативно решим все возникающие в процессе оформления груза вопросы',
    ]

section.import.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Импорт/Таможенная очистка', 'section-decor').services-content__title
      p.services-content__title-description Качество товара – наша забота
      each itContent in importContents
        p!= itContent
      ul
        each it in importtLists
          li!= it
    div.services-content__img-container
      img(src="img/our-services/pages/import.png" width="512" height="512" alt= "Импорт").services-content__img
