include ../svg/svg
include ../button/button
include ../link/link
include ../contacts-phone/contacts-phone
include ../menu-nav/menu-nav

-
  const mainNavList = [
      //- {
      //-   link: 'index.html',
      //-   item: 'Главная',
      //-   anchor: '',
      //- },
      {
        link: 'services.html',
        item: 'Услуги',
        anchor: '',
        modClass: 'header__main-nav--complex',
        mod: 'complex',
        innerList: [
          {
            item: "Поиск Товара/Производителя",
            link: 'search.html',
          },
          {
            item: "Аудит",
            link: 'audit.html',
          },
          {
            item: "Производство",
            link: 'production.html',
          },
          {
            item: "Контроль качества",
            link: 'quality.html',
          },
          {
            item: "Брендированние",
            link: 'brand.html',
          },
          {
            item: "Консолидация",
            link: 'consolidation.html',
          },
          {
            item: "Экспорт",
            link: 'export.html',
          },
          {
            item: "Международные грузоперевозки",
            link: 'cargo-transportation.html',
          },
          {
            item: "Сборные грузы",
            link: 'group.html',
          },
          {
            item: "Заказ образцов",
            link: 'samples.html',
          },
          {
            item: "Импорт",
            link: 'import.html',
          },
          {
            item: "Amazon",
            link: 'amazon.html',
          },
        ],
      },
      {
        link: 'cargo-transportation.html',
        item: 'Грузоперевозки',
        anchor: '',
        modClass: 'header__main-nav--complex',
        mod: 'complex',
        innerList: [
          {
            item: 'Авиаперевозки грузов',
            link: 'airplane.html',
          },
          {
            item: 'Железнодорожные перевозки',
            link: 'train.html',
          },
          //- {
          //-   item: 'Автомобильные грузоперевозки',
          //-   link: '#',
          //- },
          {
            item: 'Морские грузоперевозки',
            link: 'ship.html',
          },
          {
            item: 'Доставка сборных грузов',
            link: 'group.html',
          },
        ]
      },
      {
        link: 'index.html',
        item: 'О нас',
        anchor: 'about',
        modClass: '',
        mod: '',
      },
    ]

-
  const mainNavSubList = [
      {
        link: 'index.html',
        item: 'Преимущества',
        anchor: 'advantages',
      },
      {
        link: 'contacts.html',
        item: 'Контакты',
        anchor: '',
      },
    ]

mixin header(mod, anchor)
  header.header.header--primary-position(class= mod ? ' header--' + mod : '')
    div.container
      div.header__main-nav-container
        div.header__logo
          a.header__logo-link(href="index.html")
            img.header__logo-img(src="img/logo/logo-251-1.png" width="251" height="54" alt="Логотип")
        div.header__main-nav-wrap
          +menu-nav(mainNavList, 'Главное меню', mainNavSubList).header__main-nav
        div.header__contacts-wrap
          +contacts-phone('col').header__contacts-phone
          +link('Задать вопрос', anchor ? anchor : '#footer-contact-form').link--red.header__contacts-button.js-contacts-open

    button(type="button").header__toggle
      span.visually-hidden Открыть/закрыть
      +svg('burger')(width="32" height="23").header__toggle-svg-open
      +svg('cross')(width="23" height="23").header__toggle-svg-close
    div.header__dropdown
    div.header__overlay
