.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding-top: 10px;
  // padding-bottom: 15px;
  border-bottom: 1px solid $border-gray;
  background-color: $white;
  transition: all 0.3s ease;

  .header__toggle-svg-open {
    display: block;

    @include mobile-max {
      width: 26px;
      height: 18px;
    }
  }

  .header__toggle-svg-close {
    display: none;
  }

  @include mobile-max {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $screen-l + 1) {
  .header--primary-position {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;

    & .menu-nav__item {
      color: $white;
    }

    & .menu-nav__list:hover .menu-nav__item,
    .menu-nav__list:hover .menu-nav__link {
      opacity: 0.8;
      transition-delay: 0.1s;

      &:hover,
      :focus,
      :active {
        color: $white;
        opacity: 1;

        svg {
          opacity: 1;
        }
      }
    }

    & .menu-nav__sublist .menu-nav__item {
      color: $base-color;
    }

    & .menu-nav__list:hover .menu-nav__sublist {
      color: $base-color;
      opacity: 1;

      & .menu-nav__item,
      .menu-nav__link {
        color: $base-color;
      }
    }

    & .contacts-phone__icon {
      fill: $white;
    }

    & .contacts-phone__phone {
      // font-weight: 500;
      color: $white;
    }

    &.header--dark {
      background-color: $dark-base-color;
    }
  }
}

.header__main-nav-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;

  @include tablet-medium-max {
    padding: 0;
    margin: 0;
    margin-right: auto;
    border-bottom: none;
  }

  @include mobile-medium-max {
    width: 100%;
  }
}

.header__logo {
  margin-right: 25px;
  display: flex;
  align-items: center;

  @include tablet-medium-max {
    width: 260px;
  }

  @include mobile-max {
    width: 120px;
    margin-right: 0;
  }
}

.header__logo-link {
  margin-right: 10px;

  @include mobile-max {
    margin-top: 0;
  }
}

.header__call-request {
  font-size: 13px;
}

// Главное меню

.header__main-nav-wrap {
  display: flex;
  justify-content: flex-end;
}

.header__contacts-wrap {
  display: flex;
  justify-content: flex-end;

  @include tablet-medium-max {
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 20px;
    right: 0;
  }
}

// Модальное меню

.header__dropdown {
  visibility: hidden;

  position: absolute;
  top: calc(100% + 1px);
  right: 0;

  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;

  overflow: auto;
  z-index: 5;

  @include tablet-max {
    height: 100vh;
  }

  // & .contacts-phone__phone {
  //   display: flex;
  //   flex-direction: column;
  // }
}

.header__overlay {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: -1;
}

.header--menu-opened {
  @include tablet-max {
    .header__main-nav {
      display: flex;
    }

    .header__overlay {
      display: block;
    }
  }

  @include mobile-max {
    .header__main-nav {
      display: flex;
    }
  }

  .header__dropdown {
    visibility: visible;
    width: 297px;
    padding: 24px 28px 17px;

    background-color: $white;
    opacity: 1;
    transition: opacity 0.3s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    @include mobile-max {
      width: 320px;
      padding: 17px 18px 15px;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    @media (max-width: 510px) {
      width: 100%;
    }
  }
}

.header__dropdown.header__dropdown--window {
  @include tablet-max {
    padding-top: 8px;

    .header__contacts {
      display: none;
    }

    .main-nav__item:not(.main-nav__item--window) {
      display: none;
    }

    .main-nav__item--window {
      border-top: none;
      margin-right: 0;
    }

    .main-nav__link {
      display: flex;
      align-items: baseline;

      padding-bottom: 17px;

      @include opensans(14, 20, 600);

      &::before {
        content: "";

        display: block;
        width: 8px;
        height: 5px;
        margin-right: 10px;

        background: url("../img/icons/arrow-short-down.svg") no-repeat;
        transform: rotate(90deg) translateX(-2px);
      }
    }

    .nav-window.main-nav__window {
      position: static;
      display: block;
      padding: 0;
      box-shadow: none;
    }

    .nav-window__item:not(:last-child) {
      border-bottom: 1px solid $border-gray;
    }

    .nav-window__item:hover {
      .nav-window__link {
        @include opensans(13, 20, 400);
      }

      .nav-window__sub {
        display: none;
        padding: 0;
      }
    }

    .nav-window__link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 0;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-right: 13px;

      @include opensans(13, 20, 400);
    }

    .nav-window__sub {
      position: static;

      background-color: $white;
      box-shadow: none;
    }

    .nav-window__sub-link {
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 19px;

      @include opensans(13, 20, 400);
    }

    .nav-window__sub-item:hover {
      .nav-window__sub-link {
        @include opensans(13, 20, 400);
      }

      .nav-window__sub-preview {
        display: none;
      }
    }

    .nav-window__item.nav-window__item--active {
      .nav-window__sub {
        display: block;
        min-width: auto;
        padding-top: 6px;
        padding-bottom: 14px;

        border-top: 1px solid $border-gray;
      }

      .nav-window__link {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  @include mobile-max {
    .nav-window__item:not(:last-child) {
      border: none;
    }

    .main-nav__link {
      padding-top: 7px;
      padding-bottom: 7px;
      font-weight: 500;
    }

    .nav-window {
      border: none;
    }

    .nav-window__link {
      padding-top: 8px;
      padding-bottom: 8px;

      &::after {
        display: none;
      }
    }
  }
}

.header__dropdown.header__dropdown--sub-catalog {
  @include mobile-max {
    .nav-window__item:not(.nav-window__item--active) {
      display: none;
    }

    .main-nav__link {
      display: none;
    }

    .nav-window__item:hover .nav-window__link,
    .nav-window__link {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      padding-top: 7px;
      padding-bottom: 7px;

      @include cadillac-b(14, 20);

      &::before {
        content: "";

        display: block;
        width: 8px;
        height: 5px;
        margin-right: 10px;

        background: url("../img/icons/arrow-short-down.svg") no-repeat;
        transform: rotate(90deg) translateX(-2px);
      }

      & .nav-window__sub-icon {
        display: none;
      }
    }

    .nav-window__item.nav-window__item--active .nav-window__sub {
      padding-top: 0;
      border-top: none;
    }

    .nav-window__sub-item:hover {
      .nav-window__sub-link {
        font-weight: 500;
      }
    }

    .nav-window__sub-link {
      padding-left: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.header__toggle {
  display: none;
  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;

  z-index: 0;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  @include tablet-medium-max {
    position: absolute;
    right: 18px;
    bottom: 12px;
    display: block;
    cursor: pointer;
  }

  @include mobile-max {
    bottom: 14px;
  }
}

.header.header--menu-opened {
  .header__toggle-svg-open {
    display: none;
  }

  .header__toggle-svg-close {
    display: block;
    color: $gray;

    @include mobile-max {
      width: 17px;
      height: 17px;
    }
  }
}
