include ../svg/svg
include ../button/button
include ../link/link
include ../contacts-phone/contacts-phone
include ../menu-nav/menu-nav

-
  const mainNavList = [
      //- {
      //-   link: 'index.html',
      //-   item: 'Главная',
      //-   anchor: '',
      //- },
      {
        link: 'services.html',
        item: 'Услуги',
        anchor: '',
      },
      {
        link: 'cargo-transportation.html',
        item: 'Грузоперевозки',
        anchor: '',
      },
      {
        link: 'index.html',
        item: 'Преимущества',
        anchor: 'advantages',
      },
    ]

-
  const mainNavSubList = [
      {
        link: 'index.html',
        item: 'О нас',
        anchor: 'about',
      },
      {
        link: 'contacts.html',
        item: 'Контакты',
        anchor: '',
      },
    ]

mixin header(mod, anchor)
  header.header.header--primary-position(class= mod ? ' header--' + mod : '')
    div.container
      div.header__main-nav-container
        div.header__logo
          a.header__logo-link(href="index.html")
            img.header__logo-img(src="img/logo/logo_250.png" width="250" height="50" alt="Логотип")
        div.header__main-nav-wrap
          +menu-nav(mainNavList, 'Главное меню', mainNavSubList).header__main-nav
        div.header__contacts-wrap
          +contacts-phone('col').header__contacts-phone
          +link('Задать вопрос', anchor ? anchor : '#footer-contact-form').link--red.header__contacts-button.js-contacts-open

    button(type="button").header__toggle
      span.visually-hidden Открыть/закрыть
      +svg('burger')(width="32" height="23").header__toggle-svg-open
      +svg('cross')(width="23" height="23").header__toggle-svg-close
    div.header__dropdown
    div.header__overlay
