include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Образцы')
  body
    +header('dark')

    main
      h1.visually-hidden Доставка товаров из Китая и других стран - Образцы
      include ../blocks/samples/samples

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
