.services-content {
  padding: 120px 0;
  padding-bottom: 60px;

  @include tablet-medium-max {
    padding: 75px 0;
  }

  @include mobile-max {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.services-content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-medium-max {
    flex-direction: column;
  }

  @include mobile-max {
    width: 100%;
  }
}

.services-content__content-wrapper {
  width: 640px;

  @include tablet-medium-max {
    width: 80%;
  }

  @include mobile-max {
    width: 100%;
  }
}

.services-content__title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;

  @include mobile-max {
    font-size: 28px;
    line-height: 32px;
    font-weight: 500;
  }
}

.services-content__title-description {
  @include montserrat(18, 24, 700);
  text-align: center;
  margin-bottom: 20px;
}

.services-content__img-container {
  display: flex;
  justify-content: center;
  width: 515px;
  overflow: hidden;

  @include mobile-max {
    width: 100%;
  }
}

.services-content__img {
  transition: transform 1s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  &:hover {
    transform: scale(1.04);
  }
}
