.company-description {
  min-height: 600px;
  background-image: url("../img/bg/company-description-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light-base-color;

  @include mobile-max {
    background-image: none;
  }
}

.company-description__container {
  width: 55%;
  min-height: 600px;
  margin-left: auto;
  padding: 40px;
  background-color: rgba(48, 48, 48, 0.5);
  text-align: left;

  & p {
    @include roboto(16, 22, 500);
    padding-bottom: 14px;
    color: $border-gray;
  }

  @include mobile-max {
    width: 100%;
    text-align: center;

    & p {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}

.company-description__title {
  margin-bottom: 22px;
  padding-bottom: 5px;
  text-align: left;
  text-transform: none;
  color: $base-green;
  position: relative;

  @include mobile-max {
    text-align: center;
  }

  &::after {
    content: "";
    width: 270px;
    height: 2px;
    background-color: $base-white-underline;

    position: absolute;
    left: 0;
    bottom: 0;

    @include mobile-max {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
