include ../title/title
-
  const companyDescriptions = [
      'СВН импорт&nbsp;&mdash; Ваш надежный партнер! С&nbsp;нашей командой поиск товаров в&nbsp;Китае становится максимально простым, открытым и&nbsp;надежным. Мы&nbsp;всегда работаем с&nbsp;производителем напрямую и&nbsp;без посредников. Наши специалисты готовы помочь не&nbsp;только начинающим предпринимателям, но&nbsp;и&nbsp;уже опытным, крупным предприятиям, закупающие товары в&nbsp;Китае и&nbsp;других странах.',
      'Мы&nbsp;берем на&nbsp;себя вопросы по&nbsp;поиску и&nbsp;проверке товаров, переговорам, доставке, таможенному оформлению и&nbsp;сертификации.',
      'Компания СВН импорт&nbsp;&mdash; команда профессионалов.',
      'Наши сотрудники являются квалифицированными и&nbsp;опытными специалистами, которые имеют практический опыт работы в&nbsp;области импорта. Наши менеджеры свободно владеют китайским и&nbsp;английским языками, что, конечно&nbsp;же, облегчает общение с&nbsp;китайскими партнерами и&nbsp;помогает решать различные вопросы, связанные с&nbsp;импортом товаров.',
      'Мы&nbsp;устраняем разрыв между производителем и&nbsp;дистрибьютором (Вами) и&nbsp;избавляем вас от&nbsp;головной боли, связанной с&nbsp;выбором производителя, отбором образцов продукции, переговорами, доставкой, таможенным оформлением и&nbsp;сертификацией продукции.',
      'СВН импорт гарантирует Вам доставку необходимого продукта до&nbsp;Вашего склада в&nbsp;кратчайшие сроки.',
    ]

section.company-description
  div.company-description__container
    +title('Об СВН импорт:', 'gray').company-description__title
    each desc in companyDescriptions
      p!= desc
