include ../title/title

-
  const servicesList = [
      {
        image: 'search.jpg',
        alt: "Поиск",
        title: 'Поиск Товара/Производителя',
        class: 'search',
        link: '',
        //- details: [
        //-   'Это довольно изнурительный процесс работы, который мы берем на себя. Поиск товара – это одно из главных направлений нашей деятельности, ведь это первоначальный этап в ведении успешного бизнеса.',
        //-   'Найти качественный товар, который создаст тренд в вашей стране или городе не так уж и просто. Мы поможем вам найти тот самый товар по самым выгодным ценам, и привезем образцы, чтобы вы убедились в его качестве.',
        //-   'Наша цель – ваша экономия.',
        //- ]
      },
      {
        image: 'audit.jpg',
        alt: "Аудит",
        title: 'Аудит',
        class: 'audit',
        link: '',
        //- details: [
        //-   'Это независимая проверка деятельности отдельно взятой организации с целью изучения достоверности финансовой отчётности компании. Аудит является неотъемлемой частью в ведении бизнеса на международном уровне.',
        //-   'Мы будем вашими глазами, чтобы вы могли удостовериться в добросовестности фабрики/завода/поставщика. Так же, с нами у вас есть возможность навестить вашу фабрику/завод/компанию в реальном времени.',
        //-   'Наша команда – ваши глаза.',
        //- ]
      },
      {
        image: 'production.jpg',
        alt: "Производство",
        title: 'Производство',
        class: 'production',
        link: '',
        //- details: [
        //-   'Запуск производства товаров по требуемым параметрам в Китае и брендирование под своей торговой маркой – это выгодное решение и отличный способ отстроиться от конкурентов и увеличить прибыль.',
        //-   'Это может сэкономить вам много денег. Все организационные моменты мы берем на себя.',
        //-   'От вас необходима идея, а мы воплотим ее в жизнь.',
        //- ]
      },
      {
        image: 'quality.jpg',
        alt: "Контроль качества",
        title: 'Контроль качества',
        class: 'audit',
        link: '',
        //- details: [
        //-   'Наши сотрудники в Китае обязательно выполнят предварительную выборочную проверку товаров на брак/качество.',
        //-   'Это позволит устранить проблемы с качеством товара, не выезжая с завода, тем самым сэкономив наше время.',
        //-   'Качество товара – наша забота.',
        //- ]
      },
      {
        image: 'brand.jpg',
        alt: "Брендированние",
        title: 'Брендированние',
        class: 'brand',
        link: '',
        //- details: [
        //-   'Иногда развившийся бизнес требует новых решений, одним из которых может быть брендирование товаров. Причина, по которой данные производства размещаются в Китае – это, безусловно, достаточно высокий уровень развития технологий во многих сферах производства и недорогая рабочая сила.',
        //-   'Нами наработан достаточный опыт взаимодействия с Китаем в данной сфере, также налажены поставки партий любого объема.',
        //-   'Хочешь производить товар под своим брендом – пиши нам.',
        //- ]
      },
      {
        image: 'consolidation.jpg',
        alt: "Консолидация",
        title: 'Консолидация',
        class: 'consolidation',
        link: '',
        //- details: [
        //-   'Консолидация грузов – это процесс сортировки и накопления товаров на складе, сбора и формирования грузов, отправляющихся по одному маршруту.',
        //-   'Одно из основных преимуществ консолидации сборных грузов в том, что стоимость такой перевозки для каждого из участников будет намного ниже, чем при единоличном заказе транспорта. При этом, полную ответственность за доставку документации и сохранность груза несет транспортная компания. Особенно выгодно это заказчикам, которым необходимо регулярно отправлять товары небольшого веса и объема.',
        //-   'Работая с нами, вы не будете переживать за свой груз в Китае, ведь весь ваш груз будет в сохранности у нас на складе, тем самым ускорив и облегчив процесс сборки груза.',
        //-   'Ваш груз – наша ответственность.',
        //- ]
      },
      {
        image: 'export.jpg',
        alt: "Экспорт",
        title: 'Экспорт',
        class: 'export',
        link: '',
        //- details: [
        //-   'Товар не может просто так покинуть страну без необходимых на то разрешений и документов. Многочисленные фабрики и заводы Китая специализированы на внутренний рынок, соответственно, не имеют экспортных лицензий. Как правило, именно на этих заводах и производятся одни из самых дешевых товаров в мире.',
        //-   'Работая с нами, у вас будет возможность сотрудничать с этими производителями и получать товар по более выгодным ценам. Мы предоставим вам полный пакет документов, необходимых для экспорта этого товара.',
        //-   'СВН импорт – найдем выход из любой ситуаций.',
        //- ]
      },
      {
        image: 'international.jpg',
        alt: "Международные грузоперевозки",
        title: 'Международные грузоперевозки',
        class: 'international',
        link: '',
        //- details: [
        //-   'Под международной грузоперевозкой понимается перевозка грузов между двумя и более государствами, выполняемая на условиях, которые установлены международными соглашениями.',
        //-   'Мы предлагаем оптимальные схемы грузоперевозок любыми видами транспорта. Составляем оптимальные логистические маршруты и сотрудничаем с ведущими операторами контейнерных перевозок. Четкая и отлаженная схема работы позволяет осуществлять доставку с минимальными рисками и точно в срок.',
        //-   'С нами ваш товар будет застрахован от потерь и повреждений во время его транспортировки.',
        //- ]
      },
      {
        image: 'consolidation.jpg',
        alt: "Образцы",
        title: 'Сборные грузы',
        class: 'consolidation',
        link: '',
        //- details: [
        //-   'Ознакомление с образцами продукции является важным этапом процесса оптовых поставок. Только лично увидев интересующий товар и убедившись в его качестве, можно принимать решение о размещении заказа на заводе/фабрике в Китае. Поэтому для многих компаний получение образцов является насущным вопросом.',
        //-   'Если Вы заказываете образцы у нескольких производителей, то целесообразно объединить их в одну посылку. Наша компания осуществит консолидацию заказов, соберет все модели товаров, а также проверит, чтобы они соответствовали заявленным артикулам.',
        //-   'Быстро, выгодно, надежно!',
        //- ]
      },
      {
        image: 'samples.jpg',
        alt: "Образцы",
        title: 'Заказ образцов',
        class: 'samples',
        link: '',
        //- details: [
        //-   'Ознакомление с образцами продукции является важным этапом процесса оптовых поставок. Только лично увидев интересующий товар и убедившись в его качестве, можно принимать решение о размещении заказа на заводе/фабрике в Китае. Поэтому для многих компаний получение образцов является насущным вопросом.',
        //-   'Если Вы заказываете образцы у нескольких производителей, то целесообразно объединить их в одну посылку. Наша компания осуществит консолидацию заказов, соберет все модели товаров, а также проверит, чтобы они соответствовали заявленным артикулам.',
        //-   'Быстро, выгодно, надежно!',
        //- ]
      },
      {
        image: 'import.jpg',
        alt: "Импорт",
        title: 'Импорт',
        class: 'import',
        link: '',
        //- details: [
        //-   'Импорт - приобретение у иностранных контрагентов товаров с ввозом их из-за границы.Очень важно ввозить товар по всем требованиям законодательства.',
        //-   'Наши декларанты – профессионалы в области таможенного оформления. С нашим сервисом вы можете быть уверены, что ваш товар успешно пройдет процедуру таможенного оформления с уплатой всех необходимых сборов (пошлина, НДС, и т.д.).',
        //-   'Таможенную очистку мы берем на себя.',
        //- ]
      },
      {
        image: 'amazon.jpg',
        alt: "Amazon",
        title: 'Amazon',
        class: 'amazon',
        link: '',
        //- details: [
        //-   'Ознакомление с образцами продукции является важным этапом процесса оптовых поставок. Только лично увидев интересующий товар и убедившись в его качестве, можно принимать решение о размещении заказа на заводе/фабрике в Китае. Поэтому для многих компаний получение образцов является насущным вопросом.',
        //-   'Если Вы заказываете образцы у нескольких производителей, то целесообразно объединить их в одну посылку. Наша компания осуществит консолидацию заказов, соберет все модели товаров, а также проверит, чтобы они соответствовали заявленным артикулам.',
        //-   'Быстро, выгодно, надежно!',
        //- ]
      },
    ]

section.services
  div.services__wrapper.container
    +title('Все Услуги', 'section-decor').services__title
    p.services__title-description Полный комплект! Как вместе, так и  раздельно!
    ul.services__list
      each service in servicesList
        li.services__item
          div.services__img-container
            img(src='img/our-services/' + service.image width="268" height="458" alt= service.alt).services__img
          div.services__more-wrapper
            h3.services__service-title!= service.title
            a(href= service.link).button.services__more-link Узнать больше
