.services {
  padding: 60px 0;
  padding-bottom: 30px;
  text-align: center;
  // background-image: url("../img/bg/bg-holder-1920.jpg");
  // background-repeat: no-repeat;
  // background-position: bottom;
  // background-size: cover;
  // background-color: $decor-gray;

  @include tablet-medium-max {
    padding: 55px 0;
  }

  @include tablet-max {
    padding-bottom: 0;
  }

  @include mobile-max {
    padding-top: 40px;
  }
}

.services__chart-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.services__chart-img {
  margin: 60px auto;

  @include mobile-max {
    margin: 0 auto;
  }
}

.services__title {
  margin-bottom: 20px;

  &::after {
    background-color: $dark-green;
  }

  @include mobile-max {
    margin-bottom: 28px;
  }
}

.services__title-description {
  @include montserrat(22, 30, 400);
  color: $dark-base-color;

  @include tablet-max {
    padding: 10px;
    padding-top: 0;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.services__list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;

  @include tablet-max {
    justify-content: space-around;
  }
}

.services__item {
  box-sizing: border-box;
  position: relative;
  width: 268px;
  margin: 0 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: $bg-blue-color;
  overflow: hidden;
  transition: transform 0.2s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  &:hover {
    transform: scale(1.02);
  }
}

.services__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: $bg-blue-color;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.services__img {
  // width: 268px;
  width: 100%;
  height: 100%;
}

.services__more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 40%;
}

.services__service-title {
  @include montserrat(20, 24, 700);
  padding-bottom: 20px;
  color: $white;
  text-align: center;

  @include mobile-max {
    padding-bottom: 14px;
    font-size: 18px;
  }
}

.services__more-link {
  background: none;
  border: 1px solid $white;
  border-radius: 100px;
  transition: all 0.2s;

  &:hover {
    color: $black;
    background-color: $white;
  }
}
