include ../title/title

-
  const servicesList = [
      {
        image: 'search.jpg',
        alt: "Поиск",
        title: 'Поиск Товара/Производителя',
        class: 'search',
        link: '',
      },
      {
        image: 'audit.jpg',
        alt: "Аудит",
        title: 'Аудит',
        class: 'audit',
        link: '',
      },
      {
        image: 'production.jpg',
        alt: "Производство",
        title: 'Производство',
        class: 'production',
        link: '',
      },
      {
        image: 'quality.jpg',
        alt: "Контроль качества",
        title: 'Контроль качества',
        class: 'audit',
        link: '',
      },
      {
        image: 'brand.jpg',
        alt: "Брендированние",
        title: 'Брендированние',
        class: 'brand',
        link: '',
      },
      {
        image: 'consolidation.jpg',
        alt: "Консолидация",
        title: 'Консолидация',
        class: 'consolidation',
        link: '',
      },
      {
        image: 'export.jpg',
        alt: "Экспорт",
        title: 'Экспорт',
        class: 'export',
        link: '',
      },
      {
        image: 'international.jpg',
        alt: "Международные грузоперевозки",
        title: 'Международные грузоперевозки',
        class: 'international',
        link: '',
      },
      {
        image: 'consolidation.jpg',
        alt: "Образцы",
        title: 'Сборные грузы',
        class: 'consolidation',
        link: '',
      },
      {
        image: 'samples.jpg',
        alt: "Образцы",
        title: 'Заказ образцов',
        class: 'samples',
        link: '',
      },
      {
        image: 'import.jpg',
        alt: "Импорт",
        title: 'Импорт',
        class: 'import',
        link: '',
      },
      {
        image: 'amazon.jpg',
        alt: "Amazon",
        title: 'Amazon',
        class: 'amazon',
        link: '',
      },
    ]

section.services
  div.services__wrapper.container
    +title('Все Услуги', 'section-decor').services__title
    p.services__title-description Полный комплект! Как вместе, так и  раздельно!
    ul.services__list
      each service in servicesList
        li.services__item
          div.services__img-container
            img(src='img/our-services/' + service.image width="268" height="458" alt= service.alt).services__img
          div.services__more-wrapper
            h3.services__service-title!= service.title
            a(href= service.link).button.services__more-link Узнать больше
