.slider-navigation {
  display: flex;
  justify-content: space-between;
}

.slider-navigation__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  padding: 0;

  background-color: transparent;
  box-sizing: border-box;
  border: none;

  svg {
    width: 18px;
    height: 38px;
    fill: $white;
  }

  &:hover svg {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &--next {
    transform: rotate(180deg);
  }

  @include mobile-max {
    width: 30px;
    height: 30px;

    svg {
      width: 14px;
      height: 27px;
      fill: $white;
    }
  }
}

.slider-navigation__icon {
  color: $gray;

  pointer-events: none;

  @include mobile-max {
    width: 13px;
    height: 9px;
  }
}

.slider-navigation__pagination {
  display: flex;
  align-items: center;
}

.slider-navigation__bullet {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 30px;
  background-color: $gray;
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: $btn-color;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mobile-max {
    margin-right: 22px;
  }
}
