include ../title/title

-
  const samplesContents = [
      'Ознакомление с образцами продукции является важным этапом процесса оптовых поставок. Большинство клиентов предпочитают ознакомиться с образцами продукции от фабрик перед размещением заказа. Только лично увидев интересующий товар и убедившись в его качестве, можно принимать решение о размещении заказа на заводе/фабрике в Китае. Поэтому для многих компаний получение образцов является вполне реальной задачей.',
      'Обратившись в нашу компанию, вы получаете полный комплекс услуг: ',
    ]

-
  const samplesLists = [
      'заказ образцов из фабрик Китая;',
      'оформление заказа образцов по вашему дизайну или под определенной маркой/брендом;',
      'оперативный выкуп образцов;',
      'консолидация от нескольких производителей на нашем складе;',
      'доставка образцов в самые кратчайшие сроки (экспресс-авиа)',
    ]

-
  const samplesContents2 = [
      'Если Вы заказываете образцы у нескольких производителей, то целесообразно объединить их в одну посылку. Наша компания осуществит консолидацию заказов, соберет все модели товаров, а также проверит, чтобы они соответствовали заявленным артикулам.',
      'Обращаясь к нам Вы получите образцы продукции, не вникая в сложности и нюансы переговоров и доставки, так же сэкономите время и средства.',
    ]

section.samples.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Образцы', 'section-decor').services-content__title
      p.services-content__title-description Быстро, выгодно, надежно!
      each itContent in samplesContents
        p!= itContent
      ul
        each it in samplesLists
          li!= it
      each itContent2 in samplesContents2
        p!= itContent2
    div.services-content__img-container
      img(src="img/our-services/pages/samples.jpg" width="490" height="650" alt= "Образцы").services-content__img

  div.samples__details.container
    div
      p.samples__details-desc 1 кг
      p.samples__details-title Минимальный вес
    div
      p.samples__details-desc Согласовать
      p.samples__details-title Стоимость
    div
      p.samples__details-desc 5-10 дней
      p.samples__details-title Сроки
  div.samples__stages.container
    +title('Этапы работы').samples__stages-title
    ul.samples__stages-list
      li.samples__stages-item
        div.samples__stages-icon
          img(src="img/icons/bag.svg" width="47" height="47" alt= "")
        p.samples__stages-phase Связываемся с Вашим поставщиком
      li.samples__stages-item
        div.samples__stages-icon
          img(src="img/icons/sample.svg" width="47" height="47" alt= "")
        p.samples__stages-phase Согласовываем образцы
      li.samples__stages-item
        div.samples__stages-icon
          img(src="img/icons/value.svg" width="47" height="47" alt= "")
        p.samples__stages-phase Согласовываем цену
      li.samples__stages-item
        div.samples__stages-icon
          img(src="img/icons/car.svg" width="47" height="47" alt= "")
        p.samples__stages-phase Доставляем образцы к Вам в руки
