include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Брендированние')
  body
    +header('dark')

    main
      h1.visually-hidden Доставка товаров из Китая и других стран - Брендированние
      include ../blocks/brand/brand

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
