include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Сборные грузы')
  body
    +header('dark')

    main
      h1.visually-hidden Доставка товаров из Китая и других стран - Сборные грузы
      include ../blocks/group/group
      //- include ../blocks/group-phase/group-phase

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
