include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Транспортная и таможенная логистика')
  body
    +header

    main
      h1.visually-hidden Транспортная и таможенная логистика
      //-   include ../blocks/offer/offer
      include ../blocks/promotions-section/promotions-section
      include ../blocks/our-services/our-services
      include ../blocks/about-company/about-company
      //- include ../blocks/scheme/scheme
      //- include ../blocks/packages/packages
      //- include ../blocks/qualities/qualities
      include ../blocks/advantages/advantages

    +page-footer

    include ../blocks/_scripts-block/_scripts-block
