include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Поиск Товара / Производителя')
  body
    +header('dark')

    main
      h1.visually-hidden Транспортная и таможенная логистика - Поиск Товара/Производителя
      include ../blocks/search/search
      //- include ../blocks/packages/packages

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
