include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Наши Услуги')
  body
    +header

    main
      h1.visually-hidden Транспортная и таможенная логистика
      include ../blocks/services-welcome/services-welcome
      include ../blocks/services/services

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
