include ../blocks/head/head
//- include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Доставка товаров из Китая и других стран')
  body
    //- +header

    main
      h1.visually-hidden Доставка товаров из Китая и других стран

    //-   include ../blocks/offer/offer
    //-   include ../blocks/services/services
    //-   include ../blocks/advantages/advantages
    //-   include ../blocks/delivery/delivery
    include ../blocks/services/services
    +page-footer

    include ../blocks/_scripts-block/_scripts-block
