include ../blocks/head/head
include ../blocks/header/header
include ../blocks/page-footer/page-footer

doctype html
html(lang='ru')
  +head('Железнодорожные перевозки')
  body
    +header('dark')

    main
      h1.visually-hidden Транспортная и таможенная логистика - Железнодорожные перевозки
      include ../blocks/train/train

    +page-footer('services')

    include ../blocks/_scripts-block/_scripts-block
