include ../title/title

-
  const productionContents = [
      'Если Вы хотите вывести Ваш бизнес на новый уровень, то верным решением станет выпуск продукции под собственным брендом.',
      'Наши специалисты найдут надежную компанию-производителя в соответствии с вашими запросами и помогут разместить заказ в Китае на производство. ',
      'Запуская свое производство в Китае, Вы сможете выгодно выделить свою нишу и в перспективе получить хорошие возможности для маркетингового продвижения бренда, так же при грамотном подходе вы сможете оптимизировать расходы.',
      'Особенности работы с Нами:',
    ]

-
  const productionLists = [
      'поиск и подбор фабрик нужной вам специализации',
      'ведение переговоров и заключение сделок',
      'построение стратегии сотрудничества',
      'осуществление контроля качества на разных этапах сделки',
      'проведение безопасной оплаты',
      'инспекция производственного процесса',
      'отгрузка/погрузка товара, доставка груза в ваш город и таможенное оформление.',
    ]

section.production.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Производство', 'section-decor').services-content__title
      p.services-content__title-description От Вас необходима идея - а мы воплотим ее в жизнь
      each itContent in productionContents
        p!= itContent
      ul
        each it in productionLists
          li!= it
      p Запуск производства товаров по требуемым параметрам в Китае и брендирование под своей торговой маркой - это выгодное решение и отличный способ отстроиться от конкурентов и увеличить прибыль. Все организационные моменты мы берем на себя.
    div.services-content__img-container
      img(src="img/our-services/pages/production.jpg" width="540" height="720" alt= "Производство").services-content__img
