include ../title/title

-
  const consolidationContents = [
      'Консолидация грузов – это процесс сортировки и накопления товаров на складе, сбора и формирования грузов, отправляющихся по одному маршруту.',
      'В условиях сложной экономической обстановки и дефицита энергоресурсов консолидация грузов - это реальный способ минимизировать логистические издержки:',
    ]

-
  const consolidationLists = [
      'снижается стоимость перевозки для каждой товарной единицы;',
      'максимально используется полезный объем транспорта;',
      'сокращается количество рейсов и холостой пробег.',
    ]

-
  const consolidationContents2 = [
      'Одно из основных преимуществ консолидации сборных грузов в том, что стоимость такой перевозки для каждого из участников будет намного ниже, чем при единоличном заказе транспорта. При этом, полную ответственность за доставку документации и сохранность груза несет транспортная компания. Особенно выгодно это заказчикам, которым необходимо регулярно отправлять товары небольшого веса и объема.',
      'Таким образом, консолидирование — неотъемлемая часть логистической цепочки по пути от производителя или импортера до потребителя, позволяющая существенно снизить отпускную цену готовой продукции.',
      'Работая с нами, Вы не будете переживать за свой груз в Китае, ведь весь Ваш груз будет в сохранности у нас на складе, тем самым ускорив и облегчив процесс сборки груза.',
    ]

section.consolidation.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Консолидация', 'section-decor').services-content__title
      p.services-content__title-description Ваш груз – наша ответственность
      each itContent in consolidationContents
        p!= itContent
      ul
        each it in consolidationLists
          li!= it
      each itContent2 in consolidationContents2
        p!= itContent2
    div.services-content__img-container
      img(src="img/our-services/pages/consolidation.jpg" width="490" height="705" alt= "Консолидация").services-content__img
