.footer-contact-form {
  padding-top: 20px;
  margin-bottom: 15px;
}

.footer-contact-form__subtitle {
  margin-bottom: 40px;

  @include opensans(26, 36, 400);
  color: $blue;
  text-align: center;

  @include tablet-max {
    font-size: 21px;
  }

  @include mobile-max {
    @include opensans(14, 14, 400);
    width: 280px;
    margin: 12px auto;
  }
}

.footer-contact-form__contact-form {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-medium-max {
    width: 400px;
  }

  @include mobile-max {
    width: 270px;
  }
}

.footer-contact-form__form-input {
  width: 100%;
  margin-bottom: 35px;
  border-radius: 5px;

  @include mobile-max {
    width: 300px;
    margin-bottom: 10px;
  }
}

.footer-contact-form__file-input {
  cursor: pointer;
}

.footer-contact-form__form-textarea {
  margin-bottom: 45px;
  border-radius: 5px;

  @include mobile-max {
    margin-bottom: 20px;
  }
}

.footer-contact-form__form-submit-button {
  @include mobile-max {
    width: 100%;
  }
}

.footer-contact-form__upload-message {
  @include opensans(14, 14, 400);
  width: 100%;
  padding: 15px;
  color: $white;
  text-align: center;
}

.footer-contact-form__file-input.uploaded {
  span {
    text-transform: none;
  }
}
