include ../title/title

-
  const amazonContents = [
      'Как заработать на товарах из Китая с наценкой в более чем 200%?',
      'Все очень просто!',
      'Находите порядочного продавца в Китае с качественным и недорогим товаром, оплачиваете за товар и отправляете его на Amazon в США.',
      'А что если товар будет не качественным или вовсе не придет?',
      'Предлагаем услуги по поиску и отправке товаров из Китая на склады Amazon.com в США.',
      'Быстро, Выгодно, Надежно!',
    ]

-
  const amazonLists = [
      'Поиск товара по необходимым характеристикам и отправка образцов;',
      'Выезд инспектора по качеству на фабрику в Китае и проверка качества партии;',
      'Контроль отгрузки и отправка товара на склады Amazon в США;',
      'Оформление сопроводительных документов, экспортных комплектов, морская грузоперевозка в наших сборных контейнерах, таможенное оформление в США;',
      'Информационная поддержка 24/7, ежедневная информация о местонахождении груза.',
    ]

section.amazon.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Amazon', 'section-decor').services-content__title
      p.services-content__title-description Мы экономим Ваши сбережения, время и нервы, выполняя работу вместо Вас!
      each itContent in amazonContents
        p!= itContent
      ul
        each it in amazonLists
          li!= it
    div.services-content__img-container.amazon__img-container
      img(src="img/our-services/pages/amazon-r.jpg" width="560" height="425" alt= "Amazon").services-content__img
