include ../title/title
include ../contacts-phone/contacts-phone
include ../contacts-mail/contacts-mail
include ../contacts-point/contacts-point

section.contacts
  +title('Контакты').contacts__title.visually-hidden
  div.contacts__content.container
    div.contacts__company
      img(src="img/logo/logo-251.png" width="251" height="54" alt="SVN Import").contacts__company-logo
      div.contacts__company-header-wrapper
        div.contacts__company-header
          h3 Контакты
          p Ориентир: Площадь Победы
        div.contacts__company-contacts
          +contacts-point('Минск/Чапаева/3-246', 'messenger').contacts__company-point
          +contacts-phone('col').contacts__company-phones
          +contacts-mail('info@svnimport.com', 'messenger').contacts__company-mail
          //- +contacts-point('220034, г. Минск,<br>ул. Чапаева, 3, пом. 36 блок 55', 'messenger').contacts__company-point
  div.contacts__map
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A58578f1df3d92e7875647cb915c61b98118cc4502668415f1c429cbe2852028e&amp;source=constructor" frameborder="0"></iframe>

