.our-services {
  padding: 60px 0;
  text-align: center;
  background-image: url("../img/bg/bg-holder-1920.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: $decor-gray;

  @include tablet-medium-max {
    padding: 55px 0;
  }
}

.our-services__title {
  margin-bottom: 40px;
  padding-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: $btn-color;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    @include mobile-max {
      height: 2px;
    }
  }

  @include mobile-max {
    margin-bottom: 28px;
  }
}

.our-services__list {
  @include list-reset;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left;

  @include tablet-max {
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
  }
}

.our-services__item {
  padding: 20px;
  background-color: rgba(46, 46, 46, 0.35);
  transition: transform 0.3s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  &:hover {
    transform: scale(1.03);
  }

  @include tablet-max {
    display: flex;
    margin-bottom: 30px;
    padding: 20px;
  }

  @include mobile-max {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding: 0;
  }
}

.our-services__thumbnail-container {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;

  @include tablet-max {
    width: 355px;
    margin-right: 20px;
  }

  @include mobile-max {
    width: 300px;
    height: 198px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.our-services__service-wrapper {
  width: 320px;

  @include mobile-max {
    max-width: 300px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.our-services__service-title {
  @include montserrat(21, 28, 700);
  display: flex;
  align-items: center;
  min-height: 75px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: $black-title;
  position: relative;

  &::after {
    content: "";
    width: 155px;
    height: 3px;
    background-color: $dark-green;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    @include tablet-max {
      left: 0;
      transform: translateX(0%);
    }

    @include mobile-max {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include mobile-max {
    padding-bottom: 14px;
    font-size: 18px;
  }
}

.our-services__details-list {
  @include list-reset;
}

.our-services__detail-point {
  position: relative;

  & p {
    @include opensans(14, 21, 800);
    color: $black-title;

    @include mobile-max {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.our-services__all-services-link {
  width: fit-content;
  margin: 0 auto;
  color: $white;
  outline: none;

  @include mobile-max {
    font-size: 15px;
  }
}
