include ../title/title
//- -
//-   const companyDescriptions = [
//-       'СВН импорт&nbsp;&mdash; Ваш надежный партнер! С&nbsp;нашей командой поиск товаров в&nbsp;Китае становится максимально простым, открытым и&nbsp;надежным. Мы&nbsp;всегда работаем с&nbsp;производителем напрямую и&nbsp;без посредников. Наши специалисты готовы помочь не&nbsp;только начинающим предпринимателям, но&nbsp;и&nbsp;уже опытным, крупным предприятиям, закупающие товары в&nbsp;Китае и&nbsp;других странах.',
//-       'Мы&nbsp;берем на&nbsp;себя вопросы по&nbsp;поиску и&nbsp;проверке товаров, переговорам, доставке, таможенному оформлению и&nbsp;сертификации.',
//-       'Компания СВН импорт&nbsp;&mdash; команда профессионалов.',
//-       'Наши сотрудники являются квалифицированными и&nbsp;опытными специалистами, которые имеют практический опыт работы в&nbsp;области импорта. Наши менеджеры свободно владеют китайским и&nbsp;английским языками, что, конечно&nbsp;же, облегчает общение с&nbsp;китайскими партнерами и&nbsp;помогает решать различные вопросы, связанные с&nbsp;импортом товаров.',
//-       'Мы&nbsp;устраняем разрыв между производителем и&nbsp;дистрибьютором (Вами) и&nbsp;избавляем вас от&nbsp;головной боли, связанной с&nbsp;выбором производителя, отбором образцов продукции, переговорами, доставкой, таможенным оформлением и&nbsp;сертификацией продукции.',
//-       'СВН импорт гарантирует Вам доставку необходимого продукта до&nbsp;Вашего склада в&nbsp;кратчайшие сроки.',
//-     ]

-
  const companyDescriptions = [
      'СВН импорт - поисковая и закупочная компания, основной целью которой является обеспечение заказов клиентов и повышение общей прибыльности. Наша компания предлагает клиентам широкий спектр индивидуальных услуг, направленных на оптимизацию и развитие бизнеса в Китае.',
      'СВН импорт одна из немногих полностью прозрачных компаний-поставщиков, работающая напрямую с заводами-производителями, придерживающаяся политики строгого контроля над расходами и качеством. Способность нашей команды, контролировать каждый шаг проекта, обеспечивает плавный и высокоэффективный процесс закупок. Всестороннее понимание особенностей процесса закупок позволяет нам отвечать на широкий спектр требований.',
      'Наше знакомство с основными и местными методами ведения бизнеса гарантирует, что общение с поставщиками будет точным, эффективным и стратегическим.',
    ]

section.about-company#about
  div.about-company__img-wrapper
  div.about-company__wrapper
    div.container
      div.about-company__container
        +title('Об СВН импорт:', 'white').about-company__title
        each desc in companyDescriptions
          p!= desc
        //- a(href="services.html").button.button--gray.about-company__all-link Читать далее
