include ../title/title

//- -
//-   const companyDescriptions = [
//-       'СВН импорт - поисковая и закупочная компания, основной целью которой является обеспечение заказов клиентов и повышение общей прибыльности. Наша компания предлагает клиентам широкий спектр индивидуальных услуг, направленных на оптимизацию и развитие бизнеса с Китаем.',
//-       'СВН импорт одна из немногих полностью прозрачных компаний-поставщиков, работающая напрямую с заводами-производителями, придерживающаяся политики строгого контроля над расходами и качеством. Способность нашей команды, контролировать каждый шаг проекта, обеспечивает плавный и высокоэффективный процесс закупок. Всестороннее понимание особенностей процесса закупок позволяет нам отвечать на широкий спектр требований.',
//-       'Наше знакомство с основными и местными методами ведения бизнеса гарантирует, что общение с поставщиками будет точным, эффективным и стратегическим.',
//-     ]

-
  const companyDescriptions = [
      'Брокер групп – логистическая компания, основной целью которой является построение и реализация наиболее выгодных логистических цепочек поставки товаров для наших клиентов. Наша компания предлагает клиентам широкий спектр индивидуальных услуг, направленных на оптимизацию и развитие бизнеса.',
      'Способность нашей команды, контролировать каждый шаг проекта, обеспечивает плавный и высокоэффективный процесс поставки. Всестороннее понимание особенностей процесса закупок и поставок позволяет нам отвечать на широкий спектр требований.',

    ]

section.about-company#about
  div.about-company__img-wrapper
  div.about-company__wrapper
    div.container
      div.about-company__container
        +title('О БРОКЕР ГРУПП:', 'white').about-company__title
        each desc in companyDescriptions
          p!= desc
        //- a(href="services.html").button.button--gray.about-company__all-link Читать далее
