.about-company {
  min-height: 600px;
  background-image: url("../img/bg/company-description-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light-base-color;

  @include mobile-max {
    background-image: none;
  }
}

.about-company__wrapper {
  background-color: rgba(0, 0, 0, 0.4);
}

.about-company__container {
  width: 55%;
  min-height: 600px;
  margin-left: auto;
  padding: 40px;
  padding-right: 2%;
  text-align: left;

  & p {
    @include montserrat(16, 24, 400);
    color: $white;
  }

  @include mobile-max {
    width: 100%;
    padding: 5px;
    padding-top: 20px;

    & p {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
  }
}

.about-company__title {
  margin-bottom: 22px;
  padding-bottom: 20px;
  text-align: left;
  position: relative;

  @include mobile-max {
    text-align: center;
  }

  &::after {
    content: "";
    width: 315px;
    height: 3px;
    background-color: $btn-color;

    position: absolute;
    left: 0;
    bottom: 0;

    @include mobile-max {
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.about-company__all-link {
  width: fit-content;
  // margin: 0 auto;
  margin-top: 10px;
  color: $white;
  outline: none;

  @include mobile-max {
    font-size: 15px;
  }
}
