.contacts-phone {
  display: flex;
  align-items: center;
}

.contacts-phone__icon {
  margin-right: 5px;
  fill: $dark-base-color;

  @include tablet-max {
    margin-bottom: 10px;
    fill: $dark-base-color;
  }
}

.contacts-phone__phones {
  margin-right: 40px;

  &--col {
    display: flex;
    flex-direction: column;

    .contacts-phone__phone {
      @include opensans(16, 24, 500);
    }
  }

  @include tablet-max {
    margin-bottom: 10px;
  }

  @include mobile-max {
    &--messenger {
      display: flex;
      flex-direction: column;
    }
  }
}

.contacts-phone__phone {
  @include opensans(16, 24, 400);
  color: $dark-base-color;
  transition: opacity 0.3s ease;

  &:hover,
  :focus,
  :active {
    opacity: 0.7;
  }

  @include tablet-max {
    font-size: 14px;
    font-weight: 500;
  }
}

.contacts-phone__phone--first {
  margin-right: 10px;
}

.contacts-phone__messenger {
  @include opensans(18, 26, 700);
  color: $gray;
}
