include ../svg/svg

mixin contacts-phone(mod, icon)
  div(class='contacts-phone')&attributes(attributes)
    div(class= mod ? 'contacts-phone__phones--' + mod : '').contacts-phone__phones
      a(href="tel:+905380635343" onclick="ym(65809255,'reachGoal','RB_PHONE_CLICK'); gtag('event', 'click', {'event_category': 'Phones', 'event_label': 'RB_PHONE_CLICK'}); return true;").contacts-phone__phone.contacts-phone__phone--first
        span
          +svg('tr')(width="16" height="12")
        span +90 53 806 35 343
      a(href="tel:+375293020517" onclick="ym(65809255,'reachGoal',' messengerClick'); gtag('event', 'click', {'event_category': 'Messenger', 'event_label': 'MESSENGER_CLICK'}); return true;").contacts-phone__phone.contacts-phone__phone--second
        span
          +svg('by')(width="16" height="12")
        span +375 29 302 05 17
      if (mod === 'messenger')
        p.contacts-phone__messenger (whatsapp, telegram, viber)
