include ../svg/svg

mixin contacts-phone(mod, icon)
  div(class='contacts-phone')&attributes(attributes)
    div(class= mod ? 'contacts-phone__phones--' + mod : '').contacts-phone__phones
      a(href="tel:+375291932333").contacts-phone__phone.contacts-phone__phone--first
        span
          +svg('phone-black')(width="12" height="14")
        span +375 29 193 23 33
      a(href="tg://resolve?domain=svnimport").contacts-phone__phone.contacts-phone__phone--second
        span
          +svg('icon-telegram')(width="15" height="12")
        span +7 963 924 95 90
      if (mod === 'messenger')
        p.contacts-phone__messenger (whatsapp, telegram, viber)
