.contacts-phone {
  display: flex;
  align-items: center;
  color: $dark-base-color;
}

.contacts-phone__icon {
  margin-right: 15px;
  fill: $dark-base-color;

  @include tablet-max {
    margin-bottom: 10px;
    fill: $dark-base-color;
  }
}

.contacts-phone__phones {
  margin-right: 40px;

  &--col {
    display: flex;
    flex-direction: column;

    .contacts-phone__phone {
      @include mainfont(16, 24, 400);

      @include mobile-max {
        @include mainfont(14, 21, 400);
      }
    }
  }

  @include tablet-max {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  @include mobile-max {
    &--messenger {
      display: flex;
      flex-direction: column;
    }
  }
}

.contacts-phone__phone {
  @include mainfont(16, 24, 400);
  transition: opacity 0.3s ease;

  svg {
    margin-left: 10px;
    fill: currentColor;
  }

  &:hover,
  :focus,
  :active {
    opacity: 0.7;
  }

  @include tablet-max {
    font-size: 14px;
    font-weight: 500;

    svg {
      height: 14px;
    }
  }
}

.contacts-phone__phone--first {
  margin-right: 10px;
}

.contacts-phone__messenger {
  @include mainfont(16, 24, 400);
  color: $dark-base-color;
}
