include ../title/title
include ../link/link

section.cargo-transportation-welcome
  div.container
    div.cargo-transportation-welcome__wrapper
      +title('Международные Грузоперевозки', 'white').cargo-transportation-welcome__title
      p.cargo-transportation-welcome__title-description Возить с Нами - Быстро, Выгодно, Надежно!
      +link('Оставить заявку', '#footer-contact-form', '').link--red
