include ../svg/svg

//- -
//-   const navList = [
//-       {
//-         item: 'Оффер',
//-         anchor: 'offer',
//-       },
//-       {
//-         item: 'Услуги',
//-         anchor: 'services',
//-       },
//-       {
//-         item: 'Гарантии',
//-         anchor: 'warranty',
//-       },
//-       {
//-         item: 'Доставка',
//-         anchor: 'delivery',
//-       },
//-       {
//-         item: 'Отзывы',
//-         anchor: 'reviews',
//-       },
//-       {
//-         item: 'Вопросы',
//-         anchor: 'faq',
//-       },
//-       {
//-         item: 'Контакты',
//-         anchor: 'contacts',
//-       },
//-     ]

mixin menu-nav(navList, label, navSubList)
  nav.menu-nav&attributes(attributes)(aria-label= label)
    ul.menu-nav__list
      each navItem in navList
        li.menu-nav__item(class= navItem.mod ? navItem.modClass + ' menu-nav__item--' + navItem.mod : '')
          a.menu-nav__link(href= navItem.anchor ? navItem.link + "#" + navItem.anchor : navItem.link) #{navItem.item}
          if (navItem.innerList)
            +svg('arrow-short-down')(width="8" height="5")
            ul.menu-nav__sublist.menu-nav__innerlist
              each innerItem in navItem.innerList
                li.menu-nav__item.menu-nav__inner-item
                  a.menu-nav__link(href= innerItem.link) #{innerItem.item}

      li.menu-nav__item.menu-nav__item--more
        span.visually-hidden Еще
        +svg('more')(width="18" height="4")
        ul.menu-nav__sublist
          each navSubItem in navSubList
            li.menu-nav__item
              a.menu-nav__link.menu-nav__sublink(href= navSubItem.anchor ? navSubItem.link + "#" + navSubItem.anchor : navSubItem.link) #{navSubItem.item}
