.menu-nav {
  width: 100%;
}

.menu-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  color: $base-color;

  @include tablet-medium-max {
    flex-direction: column;
    width: 100%;
  }
}

.menu-nav__link {
  @include opensans(16, 24, 400);
  display: block;
  padding: 12px 10px 10px 10px;
  color: inherit;
  transition: opacity 0.3s ease;

  &:hover,
  :focus,
  :active {
    opacity: 0.5;
  }

  @include tablet-medium-max {
    font-size: 14px;
  }

  @include mobile-max {
    padding: 8px 0;
  }
}

.menu-nav__item--more {
  position: relative;
  padding: 12px 40px 10px 10px;
  cursor: pointer;
  color: $base-color;
  transition: opacity 0.3s ease;

  &:hover,
  :focus,
  :active {
    svg {
      opacity: 0.5;
    }

    .menu-nav__sublist {
      display: block;
    }
  }
}

.menu-nav__sublist {
  display: none;
  width: auto;
  padding: 20px;
  list-style: none;
  background-color: $white;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 0.5s;

  position: absolute;
  top: 100%;

  & .menu-nav__link {
    padding: 5px 10px 4px 4px;
  }

  &:hover {
    opacity: 1;
  }
}

@media (min-width: $screen-l) {
  // .menu-nav__link {
  //   color: $white;
  // }

  // .menu-nav__list:hover .menu-nav__link {
  //   opacity: 0.5;
  //   transition-delay: 0.1s;

  //   &:hover {
  //     color: $white;
  //     opacity: 1;
  //   }
  // }
}

.menu-nav__item {
  position: relative;

  // &--active,
  // &:hover {
  //   position: relative;
  //   color: $blue;

  //   .main-nav__link {
  //     color: inherit;
  //   }
  // }

  @include tablet-max {
    margin-right: 5px;
  }

  @include tablet-medium-max {
    margin-right: 14px;
  }

  // @include tablet-medium-max {
  //   border-top: 1px solid $border-gray;
  //   border-bottom: none;
  // }

  // @include mobile-max {
  //   border-top: none;
  // }
}
