.menu-nav {
  width: 100%;
}

.menu-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  @include tablet-medium-max {
    flex-direction: column;
    width: 100%;
  }
}

.menu-nav__link {
  @include cadillac(18, 24, 600);
  display: block;
  padding: 12px 10px 10px 10px;
  color: $text-color;
  text-transform: uppercase;

  &:hover,
  :focus,
  :active {
    color: $blue;
  }

  @include tablet-medium-max {
    font-size: 14px;
  }

  @include mobile-max {
    padding: 8px 0;
  }
}

.menu-nav__item {
  position: relative;
  // margin-right: 20px;

  &--active,
  &:hover {
    position: relative;

    .main-nav__link {
      color: $blue;
    }
  }

  @include tablet-max {
    margin-right: 5px;
  }

  @include tablet-medium-max {
    margin-right: 14px;
  }

  // @include tablet-medium-max {
  //   border-top: 1px solid $border-gray;
  //   border-bottom: none;
  // }

  // @include mobile-max {
  //   border-top: none;
  // }
}
