.menu-nav {
  width: 100%;
}

.menu-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  color: $base-color;

  @include tablet-medium-max {
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
  }
}

.menu-nav__link {
  @include opensans(16, 24, 400);
  display: block;
  padding: 12px 10px 10px 10px;
  color: inherit;
  transition: opacity 0.3s ease;

  &:hover,
  :focus,
  :active {
    opacity: 0.5;
  }

  @include tablet-medium-max {
    padding: 8px 10px 6px 0;
  }

  @include mobile-max {
    padding: 8px 0;
    font-size: 14px;
  }
}

.menu-nav__item--more {
  position: relative;
  padding: 12px 40px 10px 10px;
  cursor: pointer;
  color: $base-color;
  transition: opacity 0.3s ease;

  &:hover,
  :focus,
  :active {
    svg {
      opacity: 0.5;
    }

    .menu-nav__sublist {
      display: block;
    }
  }
}

.menu-nav__sublist {
  display: none;
  width: auto;
  padding: 20px;
  list-style: none;
  background-color: $white;
  box-shadow: 0 11px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 0.5s;

  position: absolute;
  top: 100%;

  & .menu-nav__link {
    padding: 5px 10px 4px 4px;
  }

  &:hover {
    opacity: 1;
  }
}

.menu-nav__item--complex {
  display: flex;
  align-items: center;

  position: relative;
  cursor: pointer;
  color: $base-color;
  transition: opacity 0.3s ease;

  svg {
    margin-top: 4px;
    fill: currentColor;
  }

  &:hover,
  :focus,
  :active {
    svg {
      opacity: 0.5;
    }

    @media (min-width: $screen-l + 1) {
      .menu-nav__sublist {
        display: block;
      }
    }
  }

  @include mobile-max {
    .menu-nav__link {
      padding-right: 5px;
    }
  }
}

.menu-nav__inner-item .menu-nav__link {
  font-size: 14px;
  line-height: 18px;

  @include tablet-medium-max {
    padding: 5px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 16px;
  }

  @include mobile-max {
    font-size: 12px;
  }
}

.menu-nav__item {
  position: relative;

  @include tablet-max {
    margin-right: 5px;
  }

  @include tablet-medium-max {
    margin-right: 14px;
  }
}
