.title {
  @include montserrat(40, 48, 700);
  color: $black-title;
  text-align: center;

  @include tablet-max {
    @include montserrat(34, 36, 700);
  }

  @include mobile-max {
    @include montserrat(24, 30, 500);
  }
}

.title--white {
  color: $white;
}

.title--gray {
  color: $gray;
}
