.scheme {
  padding-top: 40px;
  background-color: $hard-medium-gray;
}

.scheme__title {
  margin-bottom: 40px;

  @include mobile-max {
    margin-bottom: 20px;
  }
}

.scheme__img {
  margin: 0 auto;
}
