include ../title/title

section.scheme.container
  +title('Схема нашей работы', 'section-decor').scheme__title
  div.scheme__img-container
    img(src="img/shema-1170_620-v2.png" width="1170" height="620" alt= "Этапы работы").scheme__img
