.scheme {
  background: transparent;
}

.scheme__title {
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.scheme__img-container {
  margin: 40px auto;

  @include mobile-max {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.scheme__img {
  margin: 0 auto;
}
