include ../title/title

section.scheme
  +title('Этапы работы', 'white').scheme__title
  div.scheme__img-container
    img(src="img/scheme-of-work.jpg" width="1920" height="1080" alt= "Этапы работы").scheme__img
