include ../title/title

section.scheme
  +title('Этапы работы', 'white').scheme__title
  div.scheme__img-container
    img(src="img/scheme.jpg" width="1280" height="720" alt= "Этапы работы").scheme__img
