.packages {
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
}

.packages__title {
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.packages__img-container {
  margin: 40px auto;

  @include mobile-max {
    margin-top: 20px;
    margin-bottom: 5px;
  }
}

.packages__img {
  margin: 0 auto;
}
