include ../title/title

-
  const shipContents = [
      '',
    ]

-
  const shipLists = [
      '<strong>Маленькая скорость:</strong> вариант перевозки груза морским путем может показаться не таким быстрым, но он по-прежнему остается одним из самых надежных методов транспортировки. Суда избегают препятствий, которые могут возникнуть при доставке автомобильным транспортом.',
      '<strong>Таможенное преимущество:</strong> порты не так строги, как таможни в аэропортах. Шансов для Вашего имущества быть задержанными из-за административных проблем намного меньше. Кроме того, этот способ часто используется для доставок в небезопасные страны.',
      '<strong>Перевозка крупногабаритных предметов:</strong> морской транспорт обеспечивает возможность вместить больший объем вещей. Вы можете перевозить морем любые товары, включая крупногабаритные и тяжеловесные грузы, небезопасные грузы, а также замороженные грузы. Многие люди используют этот вид транспорта для доставки автомобилей. Крупные транспортные средства, включая вагоны можно транспортировать без особых усилий.',
      '<strong>Безопасная перевозка опасных грузов:</strong> если Вы намереваетесь переместить опасный материал, который должен храниться при определенной температуре, то, морской транспорт, это тот вид, который Вы должны выбрать. Это связано с тем, что на площадке или в контейнере могут быть соблюдены условия для поддержания постоянной температуры. Кроме того, уровень влажности можно контролировать в пути.',
      '<strong>Безопасность и исключение задержек:</strong> контейнеры могут оставаться герметичными во время движения и их можно вскрыть только после достижения пункта их назначения. Самое лучшее в этом виде грузоперевозки то, что он перемещается без остановок. Это избавляет от задержек и необходимости в постоянных дозаправках.',
      '<strong>Рентабельность:</strong> одно из самых больших преимуществ использования таких перевозок связано с экономией топлива, конечная цена ниже по сравнению с любым другим типом доставки.',
      '<strong>Беспроблемная доставка:</strong> одна из причин, почему люди выбирают морские грузовые перевозки, заключается в том, что тяжелые изделия легче перевозить по воде. Поскольку тарифы на услугу обычно варьируются в зависимости от веса и расстояния, то пользование этими услугами не обходится в целое состояние.',
    ]

section.ship.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Грузоперевозки морским путем', 'section-decor').services-content__title
      p.services-content__title-description Почему море?
      //- each itContent in groupContents
      //-   p!= itContent
      ul
        each it in shipLists
          li!= it
    div.services-content__img-container
      img(src="img/transportation/pages/ship.jpg" width="415" height="1035" alt= "Грузоперевозки морским путем").services-content__img
