include ../title/title
include ../form-input/form-input
include ../form-textarea/form-textarea
include ../button/button

mixin contact-form
  form.contact-form#contact-form.js-ccf(method="post" enctype="multipart/form-data")&attributes(attributes)
    +form-input({label: 'Имя', error: 'Введите имя',})(type="text" name="name" required).contact-form__form-input.js-ccf-name#ccf-name
    +form-input({label: 'Фамилия', error: 'Введите фамилию',})(type="text" name="surname" required).contact-form__form-input.js-ccf-name#ccf-name
    +form-input({label: 'Почта', error: 'Введите E-mail',})(type="email" name="email" required).contact-form__form-input.js-ccf-email#ccf-email
    +form-input({label: 'Телефон', error: 'Неверный номер',})(type="tel" name="phone" required).contact-form__form-input.js-ccf-phone#ccf-phone
    +form-input({label: 'Наименование компании', error: 'Введите наименование компании',})(type="text" name="company" required).contact-form__form-input.js-ccf-name#ccf-name
    +form-input({label: 'Телефон', error: 'Неверный номер',})(type="tel" name="work-phone" required).contact-form__form-input.js-ccf-phone#ccf-phone
    +form-input({label: 'Вебсайт', error: 'Введите сайт',})(type="text" name="site" required).contact-form__form-input.js-ccf-name#ccf-name
    +form-input({label: 'Страна', error: 'Введите страну',})(type="text" name="country" required).contact-form__form-input.js-ccf-name#ccf-name
    +form-textarea({label: 'Сообщение', error: 'Кратко опишите ситуацию',})(name="description", rows="5" required).contact-form__form-textarea.js-ccf-description#ccf-description
    +button('Отправить','gray')(type="submit").contact-form__form-submit-button.js-ccf-submit
    div.contact-form__upload-message
