.contact-form {
  width: 955px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-medium-max {
    width: 630px;
  }

  @include mobile-max {
    width: 300px;
  }
}

.contact-form__form-input {
  width: 50%;
  border: 1px solid $base-white-underline;

  @include mobile-max {
    width: 300px;
    margin-bottom: 10px;
  }
}

.contact-form__file-input {
  cursor: pointer;
}

.contact-form__form-textarea {
  margin-bottom: 45px;
  border: 1px solid $base-white-underline;

  @include mobile-max {
    width: 300px;
    margin-bottom: 20px;
  }
}

.contact-form__form-submit-button {
  margin: 0 auto;
  padding: 10px 60px;

  @include mobile-max {
    width: 100%;
  }
}

.contact-form__upload-message {
  @include mainfont(14, 14, 400);
  width: 100%;
  padding: 15px;
  color: $white;
  text-align: center;
}

.contact-form__file-input.uploaded {
  span {
    text-transform: none;
  }
}
