include ../title/title

-
  const qualityContents = [
      'Иногда развившийся бизнес требует новых решений, одним из них может быть брендирование товаров. Причина, по которой данные производства размещаются в Китае – это безусловно достаточно высокий уровень развития технологий во многих сферах производства и недорогая рабочая сила.',
      'Нами наработан достаточный опыт взаимодействия с Китаем в данной сфере, также налажены поставки партий любого объема.',
      'Положительным моментам является также и тот факт, что китайским производителям без разницы, под какой маркой производить товар. Для выполнения работы им достаточно лишь макета логотипа.',
      'Внутренняя и внешняя упаковка товара, печать сопроводительной документации – все это вполне по силам практически любому крупному заводу в Китае.',
    ]

-
  const qualityLists = [
      '',
    ]

section.brand
  div.brand__container.container
    div.brand__content-wrapper.content
      +title('Брендированние', 'section-decor').brand__title
      p.brand__title-description Хочешь производить товар под своим брендом – пиши нам
      each itContent in qualityContents
        p!= itContent
      //- ul
      //-   each it in qualityLists
      //-     li!= it
    div.brand__img-container
      img(src="img/our-services/pages/brand.jpg" width="440" height="550" alt= "Брендированние").brand__img
