.qualities {
  background-image: url("../img/bg/svn-box.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light-base-color;

  @include mobile-max {
    background-image: none;
  }
}

.qualities__container {
  background-color: rgba(255, 255, 255, 0.5);
}


.qualities__column-wrapper {
  width: 515px;
  min-height: 750px;
  margin-left: 25%;
  text-align: left;
  transition: transform 0.2s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  @include mobile-max {
    width: 100%;
    margin: 0;
    padding: 15px;
    min-height: auto;
    text-align: center;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.qualities__list {
  @include list-reset;
  width: 100%;
  margin-left: auto;

  & li {
    @include opensans(15, 22, 700);
    padding-bottom: 20px;
    position: relative;
    color: $black;
  }

  @include mobile-max {
    width: 100%;

    & li {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      padding-left: 0;
    }
  }
}

.qualities__title {
  margin-top: 60px;
  margin-bottom: 45px;
  padding-bottom: 5px;
  font-size: 30px;
  text-align: left;
  text-transform: capitalize;
  color: $black;
  position: relative;

  @include mobile-max {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    text-align: center;
  }

  &::after {
    content: "";
    width: 500px;
    height: 2px;
    background-color: $btn-color;

    position: absolute;
    left: 0;
    bottom: 0;

    @include mobile-max {
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
