include ../title/title

-
  const qualities = [
      'Компания СВН импорт — команда профессионалов.<br>Наши сотрудники являются квалифицированными и опытными специалистами, которые имеют практический опыт работы в области импорта. Наши менеджеры свободно владеют китайским, английским и польским языками, что, конечно же, облегчает общение с иностранными партнерами и помогает решать различные вопросы, связанные с импортом товаров.',
      'СВН импорт — Ваш надежный партнер.<br>С нашей командой поиск товаров в Китае становится максимально простым, открытым и надежным. Мы всегда работаем с производителем напрямую и без посредников. У нас уже наработана сеть проверенных, надежных и качественных производителей в Китае. Мы подбираем товар, который соответствует Вашим запросам, требованиям и стандартам.',
    ]

section.qualities
  div.qualities__container.container
    div.qualities__list-wrapper
      +title('Почему выбирают Нас?', 'section-decor').qualities__title
      ul.qualities__list
        each it in qualities
          li!= it
    div.qualities__img-container
      img(src="img/svn-box-cr2.jpg" width="600" height="360" alt= "Почему выбирают нас").qualities__img
