.qualities {
  margin-top: 40px;

  @include mobile-max {
    margin-top: 5px;
  }
}

.qualities__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-max {
    flex-direction: column;
  }
}


.qualities__list-wrapper {
  width: 530px;
  text-align: left;
  transition: transform 0.2s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  @include tablet-max {
    width: 100%;
    margin: 0;
    padding: 15px;
    min-height: auto;
    text-align: center;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.qualities__list {
  @include list-reset;
  width: 100%;
  margin-left: auto;

  & li {
    @include montserrat(16, 24, 400);
    padding-bottom: 20px;
    position: relative;
    color: $black;
  }

  @include mobile-max {
    width: 100%;

    & li {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      padding-left: 0;
    }
  }
}

.qualities__title {
  padding-bottom: 20px;
  text-align: left;
  color: $black;
  position: relative;

  @include tablet-max {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  @include mobile-max {
    margin-top: 20px;
    font-size: 24px;
  }

  &::after {
    content: "";
    width: 70%;
    height: 3px;
    left: 0;
    transform: translateX(0);

    @include tablet-max {
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.qualities__img-container {
  margin-top: 60px;
  margin-left: 25px;
  text-align: left;
  transition: transform 0.2s cubic-bezier(0.21, 0.67, 0.58, 1), opacity 0.5s cubic-bezier(0.21, 0.67, 0.58, 1);

  @include tablet-medium-max {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    padding: 15px;
    min-height: auto;
    text-align: center;
  }

  @include mobile-max {
    margin-top: 0;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.qualities__img {
  margin: 0 auto;
}
