include ../title/title
-
  const qualities = [
      'У нас уже наработана сеть проверенных, надежных и качественных производителей в Китае.',
      'Мы устраняем разрыв между производителем и дистрибьютором (Вами). Избавляем вас от головной боли, связанной с выбором производителя, отбором образцов продукции, переговорами, доставкой, таможенным оформлением и сертификацией продукции.',
      'Мы подбираем товар, который соответствует вашим запросам, требованиям и стандартам. Проводим вас через весь процесс разработки вашего проекта: от разработки продукта и поиска поставщиков, до доставки товара на ваш склад.',
    ]

section.qualities
  div.qualities__container.container
    div.qualities__list-wrapper
      +title('Почему выбирают Нас?', 'section-decor').qualities__title
      ul.qualities__list
        each it in qualities
          li!= it
    div.qualities__img-container
      img(src="img/svn-box.jpg" width="1280" height="952" alt= "Почему выбирают нас").qualities__img
