include ../title/title
-
  const qualities = [
      'У нас уже наработана сеть проверенных, надежных и качественных производителей в Китае.',
      'Мы устраняем разрыв между производителем и дистрибьютором (Вами). Избавляем вас от головной боли, связанной с выбором производителя, отбором образцов продукции, переговорами, доставкой, таможенным оформлением и сертификацией продукции.',
      'Мы подбираем товар, который соответствует вашим запросам, требованиям и стандартам. Проводим вас через весь процесс разработки вашего проекта: от разработки продукта и поиска поставщиков, до доставки товара на ваш склад.',
    ]

section.qualities
  div.qualities__container
    +title('Почему выбирают нас?', 'gray').qualities__title
    ul.qualities__list
      each it in qualities
        li!= it
