.contacts-point {
  display: flex;
  align-items: center;
}

.contacts-point__icon {
  margin-right: 15px;
  flex-shrink: 0;

  &--messenger {
    margin-right: 25px;
  }

  @include mobile-max {
    margin-right: 10px;

    &--messenger {
      margin-right: 20px;
    }
  }
}

.contacts-point__point {
  @include mainfont(16, 24, 400);
  color: $dark-base-color;
}
