include ../title/title

-
  const airplaneContents1 = [
      //- 'Когда Вам нужна скорость и эффективность, то авиаперевозки могут показаться Вам сложной задачей в документациях, правилах перевозок и поиске наиболее эффективного маршрута. Мы упрощаем этот процесс, управляя всем от Вашего имени, чтобы Вы могли сосредоточиться на более важных вещах.',
      //- 'Наша команда опытных профессионалов в области логистики знает, как взять под свой контроль Ваш груз, избавляя Вас от давления и стресса, поскольку мы предлагаем вам решение от А до Я.',
      'Когда Вам нужна скорость и эффективность, то авиаперевозки – это лучшее решение. Главные преимущества международных авиаперевозок, это минимальный срок доставки груза. Особенно это важно при доставке срочных грузов (образцов товара).',
      'Специалисты нашей компании спланируют оптимальный маршрут вне зависимости от сложности и расстояния пути, учтут особенности и специфику груза. Помогут Вам разобраться с документацией, правилами перевозки и поиском наиболее эффективного маршрута. Мы упростим этот процесс, управляя всем от Вашего имени, чтобы Вы могли сосредоточиться на более важных вещах.',
      'При заполнении заявки на перевозку сообщите нам свой идеальный график, и мы постараемся предложить план доставки, который подходит именно Вам.',
    ]

-
  const airplaneContents2 = [
      'СВН импорт предлагает услуги China Air Freight, от сверхбыстрой срочной доставки до более экономичных авиаперевозок, чтобы доставить Ваш груз всего за 3 или до 14 дней.',
      'При заполнении коммерческого предложения сообщите нам свой идеальный график, и мы постараемся предложить план доставки, который подходит именно Вам.',
    ]

-
  const airplaneLists = [
      '',
    ]

section.airplane.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Авиаперевозки - Быстро и Эффективно', 'section-decor').services-content__title
      each itContent1 in airplaneContents1
        p!= itContent1
      //- +title('Получайте товары вовремя', 'section-decor').services-content__title
      //- each itContent2 in airplaneContents2
      //-   p!= itContent2
      //- ul
      //-   each it in airplaneLists
      //-     li!= it
    div.services-content__img-container
      img(src="img/transportation/pages/airplane.jpg" width="510" height="600" alt= "Авиаперевозки").services-content__img
