include ../title/title

-
  const auditContents = [
      'Это независимая проверка деятельности отдельно взятой организации с целью изучения достоверности финансовой отчётности компании. Аудит является неотъемлемой частью в ведении бизнеса на международном уровне.',
      'Мы будем вашими глазами, чтобы вы могли удостовериться в добросовестности фабрики/завода/поставщика. Так же, с нами у вас есть возможность навестить вашу фабрику/завод/компанию в реальном времени.',
      'Проверка поставщика в Китае это комплексный процесс работы, в задачу которого входит: убедиться в добросовестности поставщика и его качестве работы.',
      'Что мы предоставляем:',
    ]

-
  const auditLists = [
      'Фото-отчет о наличии у компании производственного оборудования и складов;',
      'Копии регистрационных документов и лицензии этой компании;',
      'Аудит сертификатов качества и предоставление их копий;',
      'Сбор информации и изучение отзывов о добросовестности поставщика;',
      'Посещение завода в реальном времени.',
    ]

section.audit.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Аудит', 'section-decor').services-content__title
      p.services-content__title-description Наша команда – ваши глаза
      each auditContent in auditContents
        p!= auditContent
      ul
        each it in auditLists
          li!= it
    div.services-content__img-container
      img(src="img/our-services/pages/audit.jpg" width="765" height="930" alt= "Аудит").services-content__img
