.services-welcome {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  background-image: url("../img/bg/servises-header-bg-35.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  background-color: $bg-blue-color;
  overflow: hidden;

  @include mobile-medium-max {
    padding: 60px 0;
    background-position: center center;
  }
}

.services-welcome__wrapper {
  width: 520px;
  padding: 30px 0;
  margin-left: auto;
  text-align: center;

  @include mobile-medium-max {
    width: 100%;
  }
}

.services-welcome__title {
  margin-bottom: 20px;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;

  @include mobile-medium-max {
    font-size: 36px;
    line-height: 42px;
  }
}

.services-welcome__title-description {
  @include montserrat(20, 30, 600);
  color: $white;

  @include mobile-medium-max {
    font-weight: 400;
  }
}
