include ../title/title

section.services-welcome
  div.container
    div.services-welcome__wrapper
      +title('Добро пожаловать в раздел Услуг', 'white').services-welcome__title
      p.services-welcome__title-description Здесь вы познакомитесь с полным описанием Наших Услуг
