include ../title/title

-
  const exportContents = [
      'Товар не может просто так покинуть страну без необходимых на то разрешений и документов. Многочисленные фабрики и заводы Китая специализированы на внутренний рынок, соответственно, не имеют экспортных лицензий. Как правило, именно в этих заводах и производятся одни из самых дешевых товаров в мире.',
      'Работая с нами у Вас будет возможность сотрудничать с этими производителями и получать товар по более выгодным ценам. Мы предоставим Вам полный пакет документов необходимый для экспорта этого товара.',
    ]

//- -
//-   const exportLists = [
//-       '',
//-     ]

section.export.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Экспорт', 'section-decor').services-content__title
      p.services-content__title-description СВН импорт – найдем выход из любой ситуаций
      each itContent in exportContents
        p!= itContent
      //- ul
      //-   each it in qualityLists
      //-     li!= it
    div.services-content__img-container
      img(src="img/our-services/pages/export.png" width="512" height="512" alt= "Экспорт").services-content__img
