include ../title/title

section.contacts-welcome
  div.container
    div.contacts-welcome__wrapper
      //- img(src="img/bg/contacts-header-bg.jpg" width="1920" height="404" alt= "")
      //- +title('За спрос не бьют в нос', 'white').contacts-welcome__title
      //- p.contacts-welcome__title-description
      //-   img(src="img/icons/avatar_muhammed.png" width="60" height="60" alt= "")
      //-   span Мухаммед Хаям
