.schedule {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: $decor-gray;

  @include mobile-max {
    padding-bottom: 40px;
  }
}

.schedule__title {
  margin-bottom: 40px;

  @include mobile-max {
    margin-bottom: 20px;
  }
}

.schedule__img {
  margin: 0 auto;
  box-shadow: 0 0 18px 1px $border-gray;
}
