include ../title/title

section.schedule
  div.container
    +title('График работы').schedule__title
    div.schedule__img-container
      img(src="img/our-services/schedule-of-work.jpg" width="945" height="568" alt= "График работы").schedule__img
