include ../title/title

-
  const advantages = [
      {
        image: 'money.svg',
        w: '60',
        h: '28',
        alt: '',
        title: 'Экономите деньги',
        description: 'С нами вы сможете вести бизнес напрямую с производителями, тем самым минимизировать Ваши финансовые расходы на поставку и увеличить прибыль.'
      },
      {
        image: 'time.svg',
        w: '39',
        h: '49',
        alt: 'time.svg',
        title: 'Экономите время',
        description: 'Контролируя каждый шаг ваших заказов в Китае, мы предотвращаем проблемы и устраняем их, что приводит к меньшему количеству задержек и более быстрому доходу для вас.'
      },
      {
        image: 'dialog.svg',
        w: '50',
        h: '50',
        alt: '',
        title: 'Вы будете поняты',
        description: 'Для нас не существует языковых барьеров. Наши специалисты владеют английским, китайским, польским языками. Наша команда состоит из профессионалов, которые поймут, что вам необходимо.'
      },
      {
        image: 'clock.svg',
        w: '51',
        h: '51',
        alt: '',
        title: '24/7<br>Поддержка',
        description: 'Полная поддержка на всех этапах и оперативное решение всех вопросов. От начала и до конца проекта ваш персональный менеджер будет предоставлять информацию о статусе груза.'
      },
      {
        image: 'house.svg',
        w: '50',
        h: '50',
        alt: '',
        title: 'Склады в Китае,<br>Европе и США',
        description: 'Склады оптимизируют процесс сотрудничества с иностранными компаниями. Мы консолидируем Ваш товар и проверяем их на соответствие качества.'
      },
      {
        image: 'document.svg',
        w: '42',
        h: '50',
        alt: '',
        title: 'Юридическое сопровождение',
        description: 'Безопасность на законодательном уровне. Имея опыт работы с Китаем от «А до Я», мы ведем полное юридическое сопровождение в сделках по всем местным и международным законам.'
      },
    ]

section.advantages
  div.advantages__wrapper.container
    +title('Наши Преимущества', 'section-decor').advantages__title
    ul.advantages__list
      each advantage in advantages
        li.advantages__item
          div.advantages__icon-container
            img(src='img/icons/' + advantage.image width= advantage.w height= advantage.h alt= advantage.alt).advantages__icon
          div.advantages__content-wrapper
            h3.advantages__item-title!= advantage.title
            p.advantages__item-description!= advantage.description
