include ../title/title

-
  const qualityContents = [
      'Наши сотрудники в Китае выполняют проверку соответствия показателей качества конкретного товара требованиям, установленным стандартами, техническими условиями, а так же требованиям, определенным в договоре поставки.',
      'Это позволяет устранить проблемы с качеством товара, не выезжая с завода, тем самым сэкономив Ваше время.',
      'Особенности данной услуги:',
    ]

-
  const qualityLists = [
      'Снижает риски на получение брака;',
      'Снижает риски на недостачу товара;',
      'Предотвращает появления дефектов еще до получения конечного продукта, так как мы контролируем весь процесс производства;',
      'Экономит время при работе с Китаем.',
    ]

section.quality-control.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Контроль качества', 'section-decor').services-content__title
      p.services-content__title-description Качество товара – наша забота
      each itContent in qualityContents
        p!= itContent
      ul
        each it in qualityLists
          li!= it
    div.services-content__img-container
      img(src="img/our-services/pages/quality-1.jpg" width="465" height="530" alt= "Контроль качества").services-content__img
