.cargo-transportation {
  padding: 60px 0;
  padding-bottom: 30px;
  text-align: center;
}

.cargo-transportation__features-list {
  @include list-reset();
  @include mainfont(16, 24, 400);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 14px;

  @include mobile-max {
    font-size: 14px;
    flex-direction: column;
  }
}

.cargo-transportation__features-item {
  position: relative;
  width: 30%;
  margin-top: 20px;
  padding-top: 80px;
  padding-bottom: 20px;

  @include mobile-max {
    width: 100%;
  }

  &::before {
    content: "";

    display: block;
    width: 60px;
    height: 60px;
    background-color: $dark-green;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cargo-transportation__transportation-list {
  @include list-reset();
  @include mainfont(16, 24, 400);
  color: $dark-base-color;
}

.cargo-transportation__transportation-item {
  display: flex;
  justify-content: space-between;
}

.cargo-transportation__transportation-image-wrapper {
  width: 415px;
}

.cargo-transportation__transportation-content {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
