@font-face {
  font-family: "Cadillac Sans A";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cadillac-sans-a-light.woff2") format("woff2"), url("../fonts/cadillac-sans-a-light.woff") format("woff");
}

@font-face {
  font-family: "Cadillac Sans A Book";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cadillac-sans-a-book.woff2") format("woff2"), url("../fonts/cadillac-sans-a-book.woff") format("woff");
}

@font-face {
  font-family: "Cadillac Sans A";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/cadillac-sans-a-semibold.woff2") format("woff2"), url("../fonts/cadillac-sans-a-semibold.woff") format("woff");
}

// @font-face {
//   font-family: "Cadillac Sans A";
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
//   src: url("../fonts/ubuntu-700-normal.woff2") format("woff2"), url("../fonts/ubuntu-700-normal.woff") format("woff");
// }
