body {
  background-image: url("../img/bg/pattern-93a.jpg");
  background-repeat: repeat;
  background-color: $border-gray;
}


.promotions-section__slider-container * {
  transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // @include tablet-max {
  //   padding-left: 34px;
  //   padding-right: 34px;
  // }

  @include mobile-max {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.js-container {
  overflow: hidden;
}

.burger-menu-opened {
  @include tablet-max {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
}

// region text-style

p:not([class]) {
  @include mainfont(16, 24, 400);
  padding-bottom: 14px;
  color: $dark-base-color;

  @include mobile-max {
    font-size: 14px;
  }
}

.content {
  & p:not([class]),
  ul:not([class]) {
    @include mainfont(16, 24, 400);
    color: $dark-base-color;
    padding-bottom: 14px;

    @include mobile-max {
      font-size: 14px;
    }
  }
}

//endregion
