include ../title/title

-
  const searchContents = [
      'Наша компания специализируется на поиске товаров и заводов-производителей за рубежом. Это довольно изнурительный процесс работы, который мы берем на себя.',
      'Поиск товара и производителя – это одно из главных направлений нашей деятельности, ведь это первоначальный этап в ведении успешного бизнеса. Найти качественный товар, который создаст тренд в Вашей стране или городе не так уж и просто.',
      'Мы поможем Вам найти тот самый товар по самым выгодным ценам, и привезем образцы, чтобы вы убедились в его качестве.',
      'Особенности работы с Нами:',
    ]

-
  const searchLists = [
      'Мы гарантируем благонадежность поставщика: проводим необходимые специальные проверки перед сотрудничеством с Китайским производителем. Так же проверяем у них наличие всех необходимых документов;',
      'Мы занимаемся подбором исключительно заводов-производителей, избегая сотрудничества с торговыми компаниями, тем самым добиваемся самых низких цен, работая с ними напрямую;',
      'Большая часть заводов в Китае ориентирована именно на внутренний рынок и не имеют необходимых документов, разрешений или возможностей работать на экспорт. Как правило, именно у этих заводов вы можете приобрести товар по самым низким ценам. Мы имеем прямой доступ к сотрудничеству с ними, тем самым, экспортируя эти товары для вас.',
      'В нашей команде нет преград с языком, что облегчает работу с Китаем для Вас.',
      'Мы обеспечиваем защиту сделки на законодательном уровне. Подготовим все необходимые документы и будем сопровождать Вашу сделку от начала до конца 24/7.',
    ]

section.search.services-content
  div.services-content__container.container
    div.services-content__content-wrapper.content
      +title('Поиск Товара и Поставщика', 'section-decor').services-content__title
      p.services-content__title-description Наша цель – Ваша экономия и Безопасность
      each itContent in searchContents
        p!= itContent
      ul
        each it in searchLists
          li!= it
    div.services-content__img-container
      img(src="img/our-services/pages/search.jpg" width="515" height="780" alt= "Поиск Товара и Поставщика").services-content__img
  include ../packages/packages
