include ../modal/modal
include ../button/button
include ../link/link
include ../checkboxes/checkboxes
include ../quantity/quantity
include ../client-phone/client-phone
include ../advantages/advantages

-
  const additionallyList = [
    {
      title: 'Нужна установка',
      name: 'installation'
    },
    {
      title: 'Фурнитура',
      name: 'fittings'
    },
    {
      title: 'Петли',
      name: 'hinges'
    }
  ]

-
  const advantagesList = [
    {
      title: 'Скидки и подарки',
      icon: 'img/icons/icon-1.svg'
    },
    {
      title: 'Нас рекомендуют!',
      icon: 'img/icons/icon-2.svg'
    },
    {
      title: '100% честный расчет',
      icon: 'img/icons/icon-31.png'
    },
    {
      title: 'Двери в наличии',
      icon: 'img/icons/icon-4.svg'
    },
    {
      title: 'Бесплатный замер',
      icon: 'img/icons/icon-5.svg'
    },
    {
      title: 'Фирменная гарантия',
      icon: 'img/icons/icon-6.svg'
    }
  ]

mixin cost-calculation-modal
  +modal('cost-calculation').cost-calculation-modal
    h3.cost-calculation-modal__title Расчет стоимости за 5 минут!
    form.cost-calculation-modal__form(action="" method="post")
      +checkboxes(additionallyList, {title: 'Дополнительные опции', isHidden: true}).cost-calculation-modal__additionally
      div.cost-calculation-modal__basic-data
        +quantity('Количество').cost-calculation-modal__quantity
        +client-phone('Укажите свой телефон').cost-calculation-modal__client-phone
      div.cost-calculation-modal__privacy-wrapper
        p.cost-calculation-modal__privacy
          | Нажимая на кнопку «Рассчитать стоимость», я даю
          | 
          +link('согласие на обработку <br>персональных данных', 'under-solid')(href="#").cost-calculation-modal__privacy-link
        +button('Рассчитать стоимость', 'orange', {name: "arrow-right", width: 12, height: 8, isRight: true}).cost-calculation-modal__submit-button(type="submit")
    
    +advantages(advantagesList, isSlider = true).cost-calculation-modal__advantages
